<div
  class="chatIconConteiner"
  *ngIf="this.email && !mostrarChat"
  (click)="mostrarChat = true"
>
  <img src="../assets/chat.png" class="chatIcon" />
</div>
<div class="card text-center cardConteiner" *ngIf="this.email && mostrarChat">
  <div class="card-header">
    CHAT Creative
    <div class="closeIcon" (click)="mostrarChat = false">X</div>
  </div>

  <div class="container">
    <input
      class="input100"
      type="text"
      name="filtro"
      placeholder="Nombre usuario"
      [(ngModel)]="this.filtro"
    />
    <button class="btn btn-primary" (click)="this.filtrar()">Buscar</button>
  </div>

  <div *ngIf="this.filtrado" class="card-body ">
    <div id="contenedorDeMensajes" class="contenedorDeMensajes">
      <div
        *ngFor="let item of coleccion | filtrado: this.filtro"
        [ngClass]="this.email == item.usuario ? 'enviado' : 'recibido'"
      >

        <p style="color: blue">{{ item.texto }}</p>
        <p style="color: black">
          ({{ item.usuario }})<br />
          {{ item.fecha | date: "dd/MM/yy, h:mm a" }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!this.filtrado" class="card-body">
    <div id="contenedorDeMensajes" class="contenedorDeMensajes">
      <div
        *ngFor="let item of coleccion"
        [ngClass]="this.email == item.usuario ? 'enviado' : 'recibido'"
      >

        <p style="color: blue">{{ item.texto }}</p>
        <p style="color: black">
          ({{ item.usuario }})<br />
          {{ item.fecha | date: "dd/MM/yy, h:mm a" }}
        </p>
      </div>
    </div>
  </div>

  <form class="card-footer text-muted input-group" (ngSubmit)="Agregar()">
    <input
      type="text"
      class="form-control"
      placeholder="Ingresa tu mensaje"
      [(ngModel)]="textoMensaje"
      [ngModelOptions]="{ standalone: true }"
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2" (click)="Agregar()">
        Enviar<img
          class="imgEnviar"
          src="https://cdn-icons-png.flaticon.com/512/786/786407.png"
          width="20px"
        />
      </span>
    </div>
  </form>
</div>
