.btn {
    color: rgb(204, 204, 224);
    background-color: rgb(68, 106, 218);


}
.botonera{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
li.hover.btn{
    background-color: azure;
}
.form-control{
    background-color: rgb(82, 72, 72);
}
a{
  height: 68px;
}
.col-lg-4 {
  padding: 5px;
  text-align: center!important;
  justify-content: space-around;
}

